<section data-ng-controller="ActivityController">
	<google-map class="activity" center="selectedActivity.location" zoom="scale" pan="true" options="{scrollwheel: false, streetViewControl: false}">
		<marker ng-repeat="activity in recentActivities" coords="activity.location" click="select(activity)"></marker>
	</google-map>
	<table class="activities">
		<thead>
			<tr>
				<th colspan="2">date</th><th>browser</th><th>ip</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-class="{selected: activity == selectedActivity}" ng-repeat="activity in recentActivities" ng-click="select(activity)">
				<td>{{activity.date | date : 'd/M/yy'}}</td>
				<td>{{activity.date | date : 'H:mm:ss'}}</td>
				<td>{{activity.browser}}</td>
				<td>{{activity.ip}}</td>
			</tr>
		</tbody>
	</table>
</section>
