<hr>
<div class="footer container">
	<div class="row">
		<span class="col-md-4 ng-binding">Propulsé par Thomas</span>
		<span class="col-md-4">
			<form class="form-horizontal ng-scope ng-isolate-scope ng-pristine ng-valid" role="form" ng-if="!currentUser()">
				<div class="language-select form-group">
					<label class="control-label col-sm-2 ng-binding" for="select-languages">Langue</label>
					<div class="col-sm-6">
						<select class="form-control ng-pristine ng-valid" id="select-languages">
							<option value="0" selected="selected">Français</option>
						</select>
					</div>
				</div>
			</form>
		</span>
		<span class="col-md-4 tm ng-binding">© 2014 Thomas. Tous droits réservés.</span>
	</div>
</div>
