<section data-ng-controller="LoginController">
	<div class="login-box">

		<div class="login-head">
			<img src="/images/logo-iwe-s.png" alt="IWe Logo">
			<hr/>
		</div>

		<div class="login-body">

			<div class="login-thirdparty">
				<button class="btn btn-default" ng-click="tryOAuthLogin()"><img src="/images/google_64.png" width="32">
					S'identifier via Google
				</button>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="user.remember_me" class="clearfix"> Se souvenir de moi
					</label>
				</div>
			</div>

			<div class="login-divider-lg">
				<span>ou</span>
			</div>
			<div class="login-divider-sm">
				<hr/>
				<span>ou</span>
			</div>

			<form name="loginForm" class="login-form">
				<div class="form-group" ng-class="{'has-warning': loginForm.login.$error.email}">
					<label class="control-label" for="login">Identifiant</label>
					<div class="input-group">
						<input type="email" class="form-control" name="login" ng-model="user.login" required placeholder="Entrer l'adresse e-mail" autocomplete="off" autofocus="">
						<span class="input-group-addon">@</span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="password">Mot de passe</label>
					<input type="password" class="form-control" name="password" ng-model="user.password" required placeholder="Entrer le mot de passe" autocomplete="off">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="user.remember_me"> Se souvenir de moi
					</label>
				</div>

				<button ng-click="tryLogin()" class="btn btn-primary" name="submit">Connexion</button>
			</form>
		</div>
	</div>
</section>
