body {
  padding-top: 50px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section[data-ui-view] {
  margin: 1em;
  flex: 1;
}

footer {
  width: 100%;
}

@media (max-width: 768px) {
  .footer.container {
    margin-left: 1em;
    margin-right: 1em;
  }
}
